# -----------------------------
# Unity用
# -----------------------------
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
[Uu]serSettings/Layouts/
*.csproj
*.unityproj
*.sln
*.user
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.DS_Store
*.apk
*.unitypackage
*.vscode/
.vscode/

# -----------------------------
# Python用（必要なら）
# -----------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.log
*.pot
*.mo
*.egg-info/
dist/
build/
venv/

# -----------------------------
# 点群データの除外
# -----------------------------
*.ply

# -----------------------------
# その他
# -----------------------------
# OSごとの不要ファイル
.DS_Store
Thumbs.db
ehthumbs.db
**/UserSettings/Layouts/
